.-card--container {
	font-family: "Roboto", sans-serif;
	width: 400px;
	height: 300px;
	padding: 0;
	color: rgb(255, 255, 255);
	background-color: rgb(91, 91, 92);
	align-items: center;
	border-radius: 2em;
}
.-card--content {
	font-family: "Roboto", sans-serif;
	padding: 10px 0 0 0;
}

.-card--header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.-card--title {
	font-size: 1.5rem;
	font-weight: bold;
}

.-card--body {
	margin-bottom: 20px;
	padding: 10px;
}
